<template>
  <form class="ui form">
    <div class="ui feed">
      <div class="event" repeat.for="tweet of tweets">
        <div class="label">
          <img src="${tweet.author.imageUrl}">
        </div>
        <div class="content">
          <div class="inline fields">
            <div class="fifteen wide field">
              <div class="summary">
                <a if.bind="tweet.isTweetOfCurrentUser || isMyTimeline" class="user" route-href="route: mytimeline">
                  ${tweet.author.nickName}
                </a>
                <a if.bind="!tweet.isTweetOfCurrentUser && !isMyTimeline" class="user"
                   route-href="route: showtimeline; params.bind: {id:tweet.author._id}">
                  ${tweet.author.nickName}
                </a>
                <div class="date">${tweet.formattedDate} (${tweet.creationDate})</div>
              </div>
            </div>
            <div class="one wide field">
              <div if.bind="isDeletable" class="ui checkbox">
                <input type="checkbox" value="${tweet._id}" name="tweetToDelete" model.bind="tweet._id"
                       checked.bind="selectedTweets"/>
                <label>select</label>
              </div>
            </div>
          </div>
          <div class="extra text">
            ${tweet.message}
          </div>
          <div if.bind="tweet.imageUrl" class="extra images">
            <img src="${tweet.imageUrl}" class="tweetImage">
            <!-- I don't know why Lightbox doesn't work... very annoying... on server rendered page it's no problem at all-->
            <!--a href="${tweet.imageUrl}" data-lightbox="image-${tweet._id}"><img src="${tweet.imageUrl}"></a-->
          </div>
          <div class="meta">

          </div>
        </div>
      </div>
    </div>
    <div if.bind="isDeletable">
      <div class="ui divider"></div>
      <div class="two inline fields">
        <div class="three wide field">
          <button class="ui blue submit button" click.delegate="deleteSelectedTweets()">Delete selection</button>
        </div>
        <div class="three wide field">
          <button class="ui blue submit button" click.delegate="deleteAllTweets()">Delete all tweets</button>
        </div>
      </div>
    </div>
  </form>
</template>
