<template>
  <form class="ui form" submit.trigger="deleteTweets()">
    <div class="ui feed">
      <div class="event" repeat.for="tweet of tweets">
        <div class="label">
          <img src="${tweet.author.imageUrl}">
        </div>
        <div class="content">
          <div class="inline fields">
            <div class="fifteen wide field">
              <div class="summary">
                <a href="/showtimeline" class="user">${tweet.author.nickName}</a>
                <div class="date">${tweet.creationDate}</div>
              </div>
            </div>
            <div class="one wide field">
              <div if.bind="isDeletable" class="ui checkbox">
                <input type="checkbox" value="${tweet._id}" name="tweetToDelete"/>
                <label>select</label>
              </div>
            </div>
          </div>
          <div class="extra text">
            ${tweet.message}
          </div>
          <div if.bind="tweet.imageUrl" class="extra images">
            <a href="${tweet.imageUrl}" data-lightbox="image-${tweet._id}"><img src="${tweet.imageUrl}"></a>
          </div>
          <div class="meta">

          </div>
        </div>
      </div>
    </div>
    <div if.bind="isDeletable">
      <div class="ui divider"></div>
      <div class="inline fields">
        <div class="fifteen wide field">
          <button class="ui blue submit button">Delete selection</button>
        </div>
        <div class="one wide field right aligned">
          <div class="ui checkbox right aligned">
            <input type="checkbox" id="selectAllCb"/>
            <label>select all</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
