body{
    background-color: gray;
}

strong{
    color: blue;
}

.event{
    margin-bottom: 10px;
}

nav{
  margin-bottom: 14px !important;
}

.userItemText{
  color: black !important;
}

.labelWithMarginBottom{
  margin-bottom: 28px !important;
}

.tweetImage{
  width: auto !important;
  max-width: 80%;
  max-height: 250px;
}
